.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease,
    width 0.5s ease, height 0.5s ease;
  user-select: none;
  width: 423px;
  height: 532px
}

.active {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0px);
  z-index: 30;
}

.left1,
.right1 {
  filter: blur(4px);
  opacity: 0.8;
  z-index: 20;
}

.left1 {
  transform: translateX(calc(-100% - 2rem));
}

.right1 {
  transform: translateX(calc(100% + 2rem));
}

.left2,
.right2 {
  opacity: 0;
  z-index: 10;
}

.left2 {
  transform: translateX(-100%);
}

.right2 {
  transform: translateX(100%);
}

.left3,
.right3,
.hidden {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: none;
}

@media (min-width: 1024px) {
  .left1,
  .right1 {
    opacity: 1;
    filter: blur(0px);
    z-index: 20;
  }

  .left2,
  .right2 {
    opacity: 1;
    filter: blur(4px);
    z-index: 10;
    pointer-events: auto;
  }

  .left2 {
    transform: translateX(calc(-200% - 4rem));
  }

  .right2 {
    transform: translateX(calc(200% + 4rem));
  }

  .left3,
  .right3 {
    opacity: 0;
    filter: blur(4px);
    z-index: 5;
  }

  .left3 {
    transform: translateX(calc(-300% - 6rem));
  }

  .right3 {
    transform: translateX(calc(300% + 6rem));
  }
}

.navigation {
  margin-top: 1.5rem;
  display: flex;
  gap: 2.25rem;
}

.navigation button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0px 10px 30px #99999933;
}

.navigation button:hover {
  background-color: #f0f0f0;
}
